.env
.env.*.local
__pycache__/
*.pyc
.python-version
venv/
env/
.idea/
.vscode/
.DS_Store
*.log
.ipynb_checkpoints/
.python-agent/history/
.python-agent/.cache/ 
.python-agent/.env/
.python-agent/.env.*.local
.python-agent/venv/
.python-agent/env/
.python-agent/__pycache__/
.python-agent/*.pyc